<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>baise.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fangshe_eff/fangshe_eff.png</key>
			<dict>
				<key>width</key>
				<integer>830</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>947</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>fangshe_eff/fangshe_eff2.png</key>
			<dict>
				<key>width</key>
				<integer>830</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>947</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>151</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>leidian_eff/spark03a.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>leidian_eff/spark03b.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>leidian_eff/spark02a.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>281</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>leidian_eff/spark02b.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>leidian_eff/spark01a.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>leidian_eff/spark01b.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guangdian_eff/shockring.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>889</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guangdian_eff/starlight.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>389</integer>
				<key>originalWidth</key>
				<integer>398</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chaorao/00005.png</key>
			<dict>
				<key>width</key>
				<integer>343</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>442</integer>
				<key>originalHeight</key>
				<integer>278</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>781</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>chaorao/00006.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>442</integer>
				<key>originalHeight</key>
				<integer>278</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>chaorao/00007.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>442</integer>
				<key>originalHeight</key>
				<integer>278</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>guangdian_eff/particle03.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>265</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guangdian_eff/particle02.png</key>
			<dict>
				<key>width</key>
				<integer>278</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>531</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuangbei2.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>788</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuangbei.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>788</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>suduxian_eff/breathwave04.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>suduxian_eff/breathwave03.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>28</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>suduxian_eff/breathwave02.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>265</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>38</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>suduxian_eff/breathwave01.png</key>
			<dict>
				<key>width</key>
				<integer>363</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>363</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>280</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>suduxian_eff/breathline04.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>suduxian_eff/breathline03.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>suduxian_eff/breathline02.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>suduxian_eff/breathline01.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>530</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>breathbar1.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>953</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>baowu_eff0.png</string>
			<key>realTextureFileName</key>
			<string>baowu_eff0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>