<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gz_guanghuan01/01/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>gz_guanghuan01/01/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>37</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>gz_guanghuan01/01/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>gz_guanghuan01/01/0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>76</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>gz_guanghuan01/01/0_00004.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>gz_guanghuan01/01/0_00005.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>gz_guanghuan01/01/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>gz_guanghuan06/ys_kulou_eff_02.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>gz_guanghuan06/04/hong_fazhen_01_eff_01.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gz_guanghuan06/04/hong_fazhen_01_eff_02.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>gz_guanghuan06/04/hong_fazhen_01_eff_03.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>gz_guanghuan06/04/hong_fazhen_01_eff_04.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>gz_guanghuan06/04/hong_fazhen_01_eff_05.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>gz_guanghuan06/03/zi_fangshe_03_eff_01.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>519</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gz_guanghuan06/03/zi_fangshe_03_eff_02.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gz_guanghuan06/03/zi_fangshe_03_eff_03.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>620</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>gz_guanghuan06/03/zi_fangshe_03_eff_04.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>894</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gz_guanghuan06/03/zi_fangshe_03_eff_05.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>519</integer>
				<key>y</key>
				<integer>329</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gz_guanghuan06/03/zi_fangshe_03_eff_06.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>gz_guanghuan06/01/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan06/01/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>447</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan06/01/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>gz_guanghuan06/01/0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>889</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gz_guanghuan06/01/0_00004.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>275</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gz_guanghuan06/01/0_00005.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>gz_guanghuan06/01/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan05/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>658</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gz_guanghuan05/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>486</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gz_guanghuan05/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>334</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>486</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>gz_guanghuan05/0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>463</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gz_guanghuan05/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>817</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gz_guanghuan05/01/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan05/01/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan05/01/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>gz_guanghuan05/01/0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gz_guanghuan05/01/0_00004.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gz_guanghuan05/01/0_00005.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>822</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>gz_guanghuan05/01/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan04/02/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>gz_guanghuan04/02/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>gz_guanghuan04/02/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>gz_guanghuan04/02/0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>gz_guanghuan04/02/0_00004.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>889</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>gz_guanghuan04/03/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>614</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan04/03/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan04/03/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>960</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>gz_guanghuan04/03/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>975</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan03/01/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>663</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan03/01/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>663</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan03/01/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>965</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>gz_guanghuan03/01/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>975</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>gz_guanghuan02/01/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>759</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>gz_guanghuan02/01/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>970</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>gz_guanghuan02/01/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>889</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>gz_guanghuan02/01/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>980</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>guanghuan_eff0.png</string>
			<key>realTextureFileName</key>
			<string>guanghuan_eff0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>