<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>4/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>4/0_00007.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>YuanGuang/LanYuan2.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>YuanGuang/LanYuan1.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>YuanGuang/JinHuLanGuang1.png</key>
			<dict>
				<key>width</key>
				<integer>355</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>355</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>YuanGuang/JinHuLanDi1.png</key>
			<dict>
				<key>width</key>
				<integer>568</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>tupo_eff1.png</string>
			<key>realTextureFileName</key>
			<string>tupo_eff1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>