<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bingjia_eff/bingjia_00002.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>bingjia_eff/bingjia_00003.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>bingjia_eff/bingjia_00004.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>bingjia_eff/bingjia_00005.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>bingjia_eff/bingjia_00006.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>bingjia_eff/bingjia_00007.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>bingjia_eff/bingjia_00008.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>CheerPop_LevelUp1.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guangban01.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuanwo02.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ui_nianshou_shengji0.png</string>
			<key>realTextureFileName</key>
			<string>ui_nianshou_shengji0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>