<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_wawaji02_ima/bai_baiyan_02_eff/bai_baiyan_02_eff_01.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-60</real>
			</dict>
			<key>ui_wawaji02_ima/bai_baiyan_02_eff/bai_baiyan_02_eff_02.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>ui_wawaji02_ima/bai_baiyan_02_eff/bai_baiyan_02_eff_03.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>ui_wawaji02_ima/bai_baiyan_02_eff/bai_baiyan_02_eff_04.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>601</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/bai_baiyan_02_eff/bai_baiyan_02_eff_05.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>ui_wawaji02_ima/FrameHunterOther.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/guang2.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>273</integer>
				<key>originalWidth</key>
				<integer>271</integer>
				<key>originalHeight</key>
				<integer>273</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/guang1.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>273</integer>
				<key>originalWidth</key>
				<integer>271</integer>
				<key>originalHeight</key>
				<integer>273</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>738</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu12.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>580</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu11.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu8.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>583</integer>
				<key>y</key>
				<integer>277</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu6.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>920</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu5.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>578</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu4.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>680</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu3.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>583</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/qiu2.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui_wawaji02_ima/yingzi01.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ui_wawaji02_eff0.png</string>
			<key>realTextureFileName</key>
			<string>ui_wawaji02_eff0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>