<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhandouvs/shandiantexiao/l01a.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01b.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>259</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01c.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01d.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01e.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01f.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>639</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01h.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01i.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zhandouvs/shandiantexiao/l01j.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>233</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zhandouvs/V.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>208</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zhandouvs/S.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>266</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandouvs/VSguang.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>335</integer>
				<key>originalWidth</key>
				<integer>302</integer>
				<key>originalHeight</key>
				<integer>335</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>DU.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>zhandouvs/VSlan.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>376</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandouvs/VShong.png</key>
			<dict>
				<key>width</key>
				<integer>372</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>373</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>795</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UI_ZhanDouKaiShiVS0.png</string>
			<key>realTextureFileName</key>
			<string>UI_ZhanDouKaiShiVS0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>