<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baojishuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{130,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,21}}</string>
                <key>sourceSize</key>
                <string>{132,23}</string>
            </dict>
            <key>baojiqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,110},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>baoshangqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>cdadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{83,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,25}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>cdreduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{83,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,25}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>dikangqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,137},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>fangyuqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,25}}</string>
                <key>sourceSize</key>
                <string>{98,27}</string>
            </dict>
            <key>fanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,25}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>game_abilitypro.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>game_bjsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,25}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>game_fanshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,164},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>game_huihejianshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,29},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,25}}</string>
                <key>sourceSize</key>
                <string>{98,27}</string>
            </dict>
            <key>game_immune.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,25}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>game_ridweek.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,110},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>game_shanghaishuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{130,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,21}}</string>
                <key>sourceSize</key>
                <string>{132,23}</string>
            </dict>
            <key>game_shanghaishuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,218},{130,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,21}}</string>
                <key>sourceSize</key>
                <string>{132,23}</string>
            </dict>
            <key>game_shanghaishuzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{130,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,21}}</string>
                <key>sourceSize</key>
                <string>{132,23}</string>
            </dict>
            <key>game_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,25}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>gongjiqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,56},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>huihezengjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,29},{95,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,25}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>mingzhongqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>nuqiadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,56},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>nuqiadd_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,218},{130,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,21}}</string>
                <key>sourceSize</key>
                <string>{132,23}</string>
            </dict>
            <key>nuqireduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>nuqireduce_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{130,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,21}}</string>
                <key>sourceSize</key>
                <string>{132,23}</string>
            </dict>
            <key>shouxiaoshenwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,83},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>suduqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,83},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>xiaoguojuejia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>xishoushengming.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,137},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>zhuijiagongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,164},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,25}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>zhuijiahuihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,191},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,25}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_number.png</string>
            <key>size</key>
            <string>{299,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fa63d9c5157392b885ef46852ae6232$</string>
            <key>textureFileName</key>
            <string>fight_number.png</string>
        </dict>
    </dict>
</plist>
