<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>juexing_eff/zhandouli_eff.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>202</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/jihuo_eff.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/jineng_eff.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/juexing_eff.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/shengxing_eff.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/shuxing_eff.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/mianban01.png</key>
			<dict>
				<key>width</key>
				<integer>347</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>347</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>467</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/mianban02.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/xingxing01.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/jx_fangshe/cheng_fangshe_03_eff_02.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>272</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>441</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>juexing_eff/jx_fangshe/cheng_fangshe_03_eff_03.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>juexing_eff/jx_fangshe/cheng_fangshe_03_eff_04.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>juexing_eff/juese.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>47</real>
				<key>offsetY</key>
				<real>-106.5</real>
			</dict>
			<key>juexing_eff/qinzhen.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>juexing_eff/jx_fazhen01.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ui_juexing_eff0.png</string>
			<key>realTextureFileName</key>
			<string>ui_juexing_eff0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>