<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shibai/shibaiwenzi.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>shibai/huisexingxing.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>219</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>shibai/shibaiqiu.png</key>
			<dict>
				<key>width</key>
				<integer>398</integer>
				<key>height</key>
				<integer>339</integer>
				<key>originalWidth</key>
				<integer>444</integer>
				<key>originalHeight</key>
				<integer>339</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shengli/BoardEnd.png</key>
			<dict>
				<key>width</key>
				<integer>653</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>667</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shengli/dagaung2.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandoukaishi/WordsFightTitle.png</key>
			<dict>
				<key>width</key>
				<integer>666</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>669</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>875</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>zhandoukaishi/BoardCompoundFloorLight.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhandoukaishi/kaishidiban.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shengli/8/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>shengli/8/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>706</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>shengli/8/0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>843</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>shengli/8/0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>655</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>shengli/8/0_00004.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>798</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>shengli/8/0_00005.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>655</integer>
				<key>y</key>
				<integer>545</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>shengli/8/0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>799</integer>
				<key>y</key>
				<integer>544</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>shengli/8/0_00007.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>799</integer>
				<key>y</key>
				<integer>739</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>shengli/8/0_00009.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>shengli/shenglichibang.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LiZi/0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>262</integer>
				<key>originalHeight</key>
				<integer>262</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>LiZi/0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>262</integer>
				<key>originalHeight</key>
				<integer>262</integer>
				<key>x</key>
				<integer>655</integer>
				<key>y</key>
				<integer>742</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UI_ShengLiJieMian0.png</string>
			<key>realTextureFileName</key>
			<string>UI_ShengLiJieMian0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>