<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xunlianshijinengshengji/jinengkuang.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunlianshijinengshengji/jihuochenggongwenzi.png</key>
			<dict>
				<key>width</key>
				<integer>337</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>xunlianshijinengshengji/xiaoxingxing2.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunlianshijinengshengji/xiaoxingxing.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunlianshijinengshengji/jinengshengwenzi.png</key>
			<dict>
				<key>width</key>
				<integer>337</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>xunlianshijinengshengji/xiaocilang.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunlianshijinengshengji/BoardSkillIcon.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunlianshijinengshengji/guang.png</key>
			<dict>
				<key>width</key>
				<integer>458</integer>
				<key>height</key>
				<integer>432</integer>
				<key>originalWidth</key>
				<integer>458</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunlianshijinengshengji/jinengditiao.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>358</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>358</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UI_XunLianShiJiNnengShengJi0.png</string>
			<key>realTextureFileName</key>
			<string>UI_XunLianShiJiNnengShengJi0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>