<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoarChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{434,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,46}}</string>
                <key>sourceSize</key>
                <string>{434,46}</string>
            </dict>
            <key>BoardAssignment.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,472},{306,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,36}}</string>
                <key>sourceSize</key>
                <string>{306,36}</string>
            </dict>
            <key>BoardBottomButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{636,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,116}}</string>
                <key>sourceSize</key>
                <string>{636,116}</string>
            </dict>
            <key>BoardMiniMap.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,412},{204,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,148}}</string>
                <key>sourceSize</key>
                <string>{204,148}</string>
            </dict>
            <key>BoardMissionTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,36}}</string>
                <key>sourceSize</key>
                <string>{506,36}</string>
            </dict>
            <key>BoardSelectItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,366},{260,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,44}}</string>
                <key>sourceSize</key>
                <string>{260,44}</string>
            </dict>
            <key>BoardStarProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{432,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,112}}</string>
                <key>sourceSize</key>
                <string>{432,112}</string>
            </dict>
            <key>BoardStarProgress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{484,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,122}}</string>
                <key>sourceSize</key>
                <string>{484,122}</string>
            </dict>
            <key>BoardStarProgress2Item.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,610},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BoardTitleMission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{414,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,38}}</string>
                <key>sourceSize</key>
                <string>{414,38}</string>
            </dict>
            <key>ButtonBag.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,460},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{52,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonCatchAssignment.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,512},{68,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{68,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,444},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>ButtonEquip.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,300},{60,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{60,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonGoTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,366},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>ButtonHideUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,164},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ButtonMainCity.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,358},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>ButtonMall.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,710},{52,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{52,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonMission.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,758},{46,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonPet.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,518},{52,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonPodex.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,564},{44,60}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{44,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonPreview.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,412},{46,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{46,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ButtonProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{432,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,112}}</string>
                <key>sourceSize</key>
                <string>{432,112}</string>
            </dict>
            <key>ButtonReset.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,668},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>IconArrowL.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,652},{32,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>IconArrowR.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,424},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>IconBubbleCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,710},{52,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,36}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>IconBubbleSquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,222},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,62}</string>
            </dict>
            <key>IconPointPointPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,40},{38,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,10}}</string>
                <key>sourceSize</key>
                <string>{40,12}</string>
            </dict>
            <key>OrnBuleLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,40},{610,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,4}}</string>
                <key>sourceSize</key>
                <string>{610,4}</string>
            </dict>
            <key>OrnLine534.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,40},{534,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,4}}</string>
                <key>sourceSize</key>
                <string>{534,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiledUI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c485c5bc261289fc89ccac159747bac1:1/1$</string>
            <key>textureFileName</key>
            <string>tiledUI.png</string>
        </dict>
    </dict>
</plist>
