<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LineMini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{160,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{160,74}}</string>
                <key>sourceSize</key>
                <string>{208,120}</string>
            </dict>
            <key>M1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,110},{42,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>M10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,266},{78,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,44}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>M2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,236},{76,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,32}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>M3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,134},{74,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,40}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>M4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,306},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,30}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>M5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,42}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>M6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{62,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,30}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>M7.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,200},{76,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,34}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>M8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,306},{32,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,18}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>M9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,84},{42,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,24}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>MapMini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,120}}</string>
                <key>sourceSize</key>
                <string>{208,120}</string>
            </dict>
            <key>S1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,238},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>S10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>S2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,270},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>S3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{78,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,44}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>S4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,314},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>S5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,124},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>S6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>S7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,210},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>S8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,290},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>S9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,208},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MiniMap1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b274e2e15d9c7dfce097bf8b93af6240:1/1$</string>
            <key>textureFileName</key>
            <string>MiniMap1.png</string>
        </dict>
    </dict>
</plist>
